.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.margin {
  margin: auto;
}

.padding {
  padding: 2rem;
}

.width {
  max-width: 75%;
}

@media screen and (max-width: 1280px) {
  .width {
    max-width: 100%;
  }
}
