@use "./variable.scss" as *;
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
}
