@use "./variable.scss" as *;
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background: #000;
}

h1,
h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

@media screen and (min-width: 959.99px) {
  html {
    font-size: 15px;
  }
}
