@use "./variable.scss" as *;
@use "./fonts.scss";
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Netflix sans;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background: #000;
  color: $white;
}

h1,
h2 {
  font-family: Netflix sans;
  font-weight: 900;
  font-size: 3.2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: unset;
  text-decoration: none;
}
@media screen and (min-width: 959.99px) {
  html {
    font-size: 15px;
  }
}
