$white: #fff;
$red: #e50914;
$red-hover: #c11119;
$red-warning: #eb3942;
$gray: #2d2d2d;
$gray-hover: #4e4e4e;
$footer-color: #ffffffb3;
$footer-color-hover: #ffffffcc;

/*Animation*/
$hover-effect: 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;

/*Fonts*/
$netflix-font: "Netflix-font";

@font-face {
  font-family: $netflix-font;
  src: url("../assets/fonts/netflix-font.woff2"), format("wolf2");
}
