@use "../../sassStyle/variable.scss" as *;

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h3 {
      margin: 0;
      margin-top: 24px;
      text-align: center;
      color: #ddd;
      line-height: 26px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 586px;
      margin-top: 24px;
    }
  }
}
@media screen and (min-width: 599.99px) {
  .subscribe {
    &__form {
      &__container {
        flex-direction: row;
      }
    }
  }
}
