@use "../../sassStyle/variable.scss" as *;

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
      width: 100%;
    }

    &__container {
      display: flex;
      flex-direction: row;
      align-content: center;
      width: 100%;
    }

    &__email-container {
      flex: 2;
      position: relative;

      &__email {
        width: 100%;
        padding: 24px 16px 8px;
        border: 1px solid #aaa;
        border-radius: 0.5rem;

        background: rgba(22, 22, 22, 0.7);
        color: #fff;

        &:focus {
          outline: 2px solid #fff;
        }
      }
      &__email:focus + &__email-placeholder {
        font-size: 12px;
        transform: translateY(-135%);
      }

      &__email-placeholder {
        position: absolute;
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.7);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 250ms cubic-bezier(0.9, 0, 0.51, 1);
        cursor: text;

        user-select: none;
      }
    }

    &__button {
      flex: 1;
      padding: 12px 24px;
      margin-left: 1rem;
    }
  }
}
