@use "../../sassStyle/variable.scss" as *;

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 586px;
      margin-top: 24px;
    }

    &__email-container {
      // flex: 2;
      position: relative;

      &__email {
        width: 100%;
        padding: 24px 20px 8px;
        border: 1px solid #aaa;
        border-radius: 5px;
        font-size: 16px;

        background: rgba(22, 22, 22, 0.7);
        color: #fff;

        &:focus {
          outline: 2px solid #fff;
        }
      }

      &__email:focus + &__email-placeholder,
      &__email + &__email-placeholder.placeholderTop {
        font-size: 12px;
        transform: translateY(-135%);
      }

      &__email-placeholder {
        position: absolute;
        font-size: 16px;
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.7);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 250ms cubic-bezier(0.9, 0, 0.51, 1);
        cursor: text;

        user-select: none;
      }
    }

    &__button {
      // flex: 1;
      padding: 12px 24px;
      // margin-left: 1rem;

      margin-top: 20px;

      cursor: pointer;
      width: max-content;
      align-self: center;

      background: $red;
      color: $white;
      font-size: 24px;

      border: none;
      border-radius: 5px;

      &:hover {
        background: $red-hover;
      }
    }
  }
}
@media screen and (min-width: 599.99px) {
  .subscribe {
    &__form {
      &__container {
        flex-direction: row;
      }

      &__email-container {
        flex: 2;
      }
      &__button {
        flex: 1;
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (min-width: 959.99px) {
}
