@use "../../sassStyle/variable.scss" as *;
.article {
  position: relative;
  min-height: 46rem;
  background: transparent;
  color: $white;
  text-align: center;
  padding: 46px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title,
    &__subtitle {
      width: 100%;
    }
  }

  &__image-container {
    z-index: 1;
    position: relative;

    &__download-container {
      position: absolute;
      display: flex;

      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      border: 1px solid#fff;
      border-radius: 10px;
      padding: 2px;

      text-align: start;

      height: 64px;
      width: 80%;
      background: rgba(0, 0, 0, 0.9);

      &__image-container {
        overflow: hidden;
        height: 100%;
        margin-right: 10px;

        img {
          height: 100%;
        }
      }

      &__title-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;

        &__title {
          color: $white;
          font-weight: 600;
          font-size: 14px;
        }
        &__subtitle {
          font-size: 12px;
          font-weight: 400;
          color: #0071eb;
        }
      }

      &__download-png {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 80%;
        }
      }
    }

    &__image {
      width: 100%;
    }

    &__video {
      overflow: hidden;
      z-index: -1;
      position: absolute;
      width: 75%;
      top: 20%;
      left: 13.2%;

      video {
        width: 100%;
      }
    }

    &__video-device-pile {
      width: 62%;
      overflow: hidden;
      z-index: -1;
      position: absolute;
      top: 11%;
      left: 19%;

      video {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 599.99px) {
  .article {
    &__image-container {
      &__download-container {
        height: 96px;
        width: 65%;

        padding: 6px;
        &__download-png {
          img {
            height: 65%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 959.99px) {
  .article.photo {
    flex-direction: row-reverse;
  }

  .article {
    text-align: start;

    flex-direction: row;

    &__title-container,
    &__image-container {
      width: 50%;
      &__download-container {
        &__image-container {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 1279.99px) {
  .article {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}
