@use "../../sassStyle/variable.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 32px 0;
  width: calc(100% - 64px);
  position: absolute;
  z-index: 10;

  &__logo {
    width: 89px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__lang-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__button-container {
      display: flex;
      color: unset;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }

      button[type="button"] {
        font-size: 14px;

        background: $red;
        color: $white;
        border: 1px solid $red;
        border-radius: 5px;
        margin-left: 10px;
        width: 60px;
        height: 32px;
        cursor: pointer;

        text-decoration: none;

        transition: $hover-effect;

        &:hover {
          transition: $hover-effect;
          background: $red-hover;
        }
      }
    }
  }
}

@media screen and (min-width: 959.99px) {
  .navbar {
    button[type="button"] {
      margin-left: 20px;
    }
    &__logo {
      width: 148px;
      height: 40px;
    }
  }
}
@media screen and (min-width: 1279.99px) {
  .navbar {
    width: 75%;
    right: 0;
    margin-right: auto;
    left: 0;
    margin-left: auto;
  }
}
